
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    height: 400px;
    background-size: cover; /* Ensure the image covers the entire header */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
}


.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.header-content h1 {
    font-size: 3em; /* Increase h1 size */
}

nav {
    background: linear-gradient(to right, #ffffff, #ffffff);
    padding: 0.5em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(150, 150, 150, 0.2);
    border-radius: 5px;
}

section {
    float: left;
    width: 60%;
    padding: 1em;
    min-height: 40vh;
}

section img {
    width: 200px;
    height: auto;
}

aside {
    float: right;
    min-height: 40vh;
    width: 30%;
    padding: 1em;
    background-color: #f4f4f4;
}

footer {
    clear: both;
    text-align: center;
    padding: .5em;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
